.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transform: scale(1.05);
}

.image16by9 {
  padding-top: 56.25% !important;
}
.m-collage-image {
  border-radius: 0.25rem;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.m-collage-image .a-image {
  position: absolute;
  top: 0;
}

.a-image--background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.a-image {
  max-height: 100%;
  max-width: 100%;
}

*,
::after ::before {
  box-sizing: inherit;
}
